NodeRED-Random-HS-Party-Sequential.json
[{"id":"dd79c90c.bf0168","type":"tab","label":"Random RGB Disco","disabled":false,"info":""},{"id":"e9cf6bfc6ced3f8e","type":"api-call-service","z":"dd79c90c.bf0168","name":"Color Random","server":"d30d779f.6e3948","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.outside_wall_light_1"],"data":"{\"brightness_pct\":\"100\",\"hs_color\":[{{color}}]}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","output_location":"","output_location_type":"none","x":680,"y":300,"wires":[["915e83505a66b917"]]},{"id":"c7271939bfbce80a","type":"delay","z":"dd79c90c.bf0168","name":"Wait","pauseType":"delayv","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"750","randomLast":"2000","randomUnits":"milliseconds","drop":false,"allowrate":false,"outputs":1,"x":970,"y":300,"wires":[["f7535ffde150a888"]]},{"id":"bffdf199d5a1e9cb","type":"api-call-service","z":"dd79c90c.bf0168","name":"lightsoff","server":"d30d779f.6e3948","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.lapa_front_1","light.outside_wall_light_1","light.outside_wall_light_2","light.outside_wall_light_3","light.outside_wall_light_4","light.outside_wall_light_5"],"data":"{\"rgbw_color\":[0,0,0,255],\"brightness_pct\":100}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","output_location":"","output_location_type":"none","x":1080,"y":200,"wires":[[]]},{"id":"554d55e757a6cb60","type":"server-events","z":"dd79c90c.bf0168","name":"DiscoBulbs","server":"d30d779f.6e3948","version":1,"event_type":"call_service","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"waitForRunning":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"$outputData(\"eventData\").event_type","valueType":"jsonata"},{"property":"event_type","propertyType":"msg","value":"$outputData(\"eventData\").event_type","valueType":"jsonata"}],"x":60,"y":80,"wires":[["8a90d721280f75fd"]]},{"id":"8a90d721280f75fd","type":"switch","z":"dd79c90c.bf0168","name":"Filter command","property":"payload.event.service","propertyType":"msg","rules":[{"t":"eq","v":"disco_pillars","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":240,"y":80,"wires":[["cd159ed6de02f3fa"]]},{"id":"70f9675a38f3671c","type":"api-call-service","z":"dd79c90c.bf0168","name":"Light On White Off","server":"d30d779f.6e3948","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.outside_wall_light_1"],"data":"{\"white_value\":\"0\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","output_location":"","output_location_type":"none","x":330,"y":280,"wires":[["785f620f1ba14f6a"]]},{"id":"c7a64be1d791d0c1","type":"inject","z":"dd79c90c.bf0168","name":"Test Button","props":[{"p":"payload","v":"","vt":"date"},{"p":"topic","v":"","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":480,"y":20,"wires":[["cd159ed6de02f3fa"]]},{"id":"cd159ed6de02f3fa","type":"change","z":"dd79c90c.bf0168","name":"set command","rules":[{"t":"set","p":"payload","pt":"msg","to":"toggle","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":80,"wires":[["b852ae97a5802a90"]]},{"id":"01dcbf9ce81ce100","type":"function","z":"dd79c90c.bf0168","name":"loop","func":"// Loop function\n// Top output provides triger for next actions\n// Botton output should be connected to the input through a dealy\n// The msg.payload can consis one of actions: start, stop\n// Other content is ignored\n// On the outoput the msg.payload contains current loop state\n\ncontext.loop = context.loop || \"stop\";\ncontext.loops = context.loops || 0;\n\n//console.log(\"topic :\" + msg.topic);\n//console.log(\"loop  :\" + context.loop);\n//console.log(\"loops :\" + context.loops);\n//console.log(\"action:\" + msg.payload);\n\nswitch (msg.payload) {\n\tcase \"stop\":\n\t\tcontext.loops = context.loops + 1;\n\t\tmsg.payload = \"stopped\";\n\t\tcontext.loop = \"stop\";\n\t\treturn [msg,null];\n\t\n\tcase \"start\":\n\t\tmsg.payload = \"started\";\n\t\tcontext.loop = \"loop\";\n\t\tcontext.loops = 1;\n\t\treturn [msg,msg];\n\tdefault:\n\t\tif (context.loop == \"loop\") {\n\t\t\tcontext.loops = context.loops + 1;\n\t\t\tmsg.payload = \"loop:\" + context.loops;\n\t\t\treturn [msg,msg];\n\t\t} else {\n\t\t\treturn [null,null]; \n\t\t}\n}","outputs":"2","noerr":0,"x":290,"y":220,"wires":[["fcc0248a69d13587"],["70f9675a38f3671c"]]},{"id":"f3eebe5fde5b4c65","type":"delay","z":"dd79c90c.bf0168","name":"","pauseType":"delay","timeout":"30","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":920,"y":240,"wires":[["bffdf199d5a1e9cb"]]},{"id":"4c02b82afb1fdf79","type":"comment","z":"dd79c90c.bf0168","name":"Watch for the script.  It will be unique.","info":"Here is where you set your script to trigger the switch.","x":240,"y":40,"wires":[]},{"id":"f2b050929fef64b0","type":"comment","z":"dd79c90c.bf0168","name":"This will returm the lights to white 255.","info":"","x":1330,"y":200,"wires":[]},{"id":"281be75fbb7f259f","type":"comment","z":"dd79c90c.bf0168","name":"  A delay of the length of the loop plus about a second should make it stop correctly.","info":"","x":1350,"y":240,"wires":[]},{"id":"201d2c1be1e0a0b0","type":"comment","z":"dd79c90c.bf0168","name":"Depending on your RGB you may need to turn the white off first.  After that trigger your color changes how you see fit.","info":"","x":740,"y":160,"wires":[]},{"id":"fcc0248a69d13587","type":"switch","z":"dd79c90c.bf0168","name":"Stop","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"stopped","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":750,"y":220,"wires":[["f3eebe5fde5b4c65","bffdf199d5a1e9cb"]]},{"id":"80536ebd7805ddfb","type":"comment","z":"dd79c90c.bf0168","name":"In this flow EACH bulb is individually addressed so for more than 4 bulbs copy the loop section of the flow and connect it up the same as it currently is.","info":"","x":720,"y":360,"wires":[]},{"id":"c7f70a6957fac298","type":"comment","z":"dd79c90c.bf0168","name":"Randoms are currently set to .5 to 2 seconds","info":"","x":870,"y":120,"wires":[]},{"id":"b852ae97a5802a90","type":"toggle","z":"dd79c90c.bf0168","name":"","onOffTopic":"","onValue":"start","onType":"str","offValue":"stop","offType":"str","toggleTopic":"","toggleValue":"toggle","toggleType":"str","passOnOff":"","x":90,"y":180,"wires":[["01dcbf9ce81ce100"]]},{"id":"b5da53f65a9a913b","type":"api-call-service","z":"dd79c90c.bf0168","name":"Color Random","server":"d30d779f.6e3948","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.outside_wall_light_2"],"data":"{\"brightness_pct\":\"100\",\"hs_color\":[{{color}}]}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","output_location":"","output_location_type":"none","x":560,"y":420,"wires":[["87f408a898fc1e6f"]]},{"id":"87f408a898fc1e6f","type":"delay","z":"dd79c90c.bf0168","name":"Wait","pauseType":"delayv","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"750","randomLast":"2000","randomUnits":"milliseconds","drop":false,"allowrate":false,"outputs":1,"x":730,"y":420,"wires":[["63ec704d08f62cd8"]]},{"id":"f7535ffde150a888","type":"api-call-service","z":"dd79c90c.bf0168","name":"Light On White Off","server":"d30d779f.6e3948","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.outside_wall_light_2"],"data":"{\"white_value\":\"0\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","output_location":"","output_location_type":"none","x":330,"y":420,"wires":[["b5da53f65a9a913b"]]},{"id":"0cabd6a82908746a","type":"api-call-service","z":"dd79c90c.bf0168","name":"Color Random","server":"d30d779f.6e3948","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.lapa_front_1","light.outside_wall_light_3"],"data":"{\"brightness_pct\":\"100\",\"hs_color\":[{{color}}]}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","output_location":"","output_location_type":"none","x":560,"y":480,"wires":[["8485486c0662a335"]]},{"id":"8485486c0662a335","type":"delay","z":"dd79c90c.bf0168","name":"Wait","pauseType":"delayv","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"750","randomLast":"2000","randomUnits":"milliseconds","drop":false,"allowrate":false,"outputs":1,"x":730,"y":480,"wires":[["80246263f3c7046b"]]},{"id":"63ec704d08f62cd8","type":"api-call-service","z":"dd79c90c.bf0168","name":"Light On White Off","server":"d30d779f.6e3948","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.lapa_front_1","light.outside_wall_light_3"],"data":"{\"white_value\":\"0\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","output_location":"","output_location_type":"none","x":330,"y":480,"wires":[["0cabd6a82908746a"]]},{"id":"40a5a0973cd50011","type":"api-call-service","z":"dd79c90c.bf0168","name":"Color Random","server":"d30d779f.6e3948","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.outside_wall_light_4"],"data":"{\"brightness_pct\":\"100\",\"hs_color\":[{{color}}]}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","output_location":"","output_location_type":"none","x":560,"y":540,"wires":[["d69ba902ae16fa25"]]},{"id":"d69ba902ae16fa25","type":"delay","z":"dd79c90c.bf0168","name":"Wait","pauseType":"delayv","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"750","randomLast":"2000","randomUnits":"milliseconds","drop":false,"allowrate":false,"outputs":1,"x":730,"y":540,"wires":[["b2e273329004c8f0"]]},{"id":"80246263f3c7046b","type":"api-call-service","z":"dd79c90c.bf0168","name":"Light On White Off","server":"d30d779f.6e3948","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.outside_wall_light_4"],"data":"{\"white_value\":\"0\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","output_location":"","output_location_type":"none","x":330,"y":540,"wires":[["40a5a0973cd50011"]]},{"id":"fbbd8c0993b8c31d","type":"api-call-service","z":"dd79c90c.bf0168","name":"Color Random","server":"d30d779f.6e3948","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.outside_wall_light_5"],"data":"{\"brightness_pct\":\"100\",\"hs_color\":[{{color}}]}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","output_location":"","output_location_type":"none","x":560,"y":600,"wires":[["6c98a650a8fe5945"]]},{"id":"b2e273329004c8f0","type":"api-call-service","z":"dd79c90c.bf0168","name":"Light On White Off","server":"d30d779f.6e3948","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.outside_wall_light_5"],"data":"{\"white_value\":\"0\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","output_location":"","output_location_type":"none","x":330,"y":600,"wires":[["fbbd8c0993b8c31d"]]},{"id":"915e83505a66b917","type":"random","z":"dd79c90c.bf0168","name":"Delay","low":"750","high":"2500","inte":"true","property":"delay","x":850,"y":300,"wires":[["c7271939bfbce80a"]]},{"id":"6c98a650a8fe5945","type":"delay","z":"dd79c90c.bf0168","name":"Wait","pauseType":"delayv","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"750","randomLast":"2000","randomUnits":"milliseconds","drop":false,"allowrate":false,"outputs":1,"x":730,"y":600,"wires":[["1da63b218f0a16c4"]]},{"id":"98cd4796f014160e","type":"api-call-service","z":"dd79c90c.bf0168","name":"Color Random","server":"d30d779f.6e3948","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.outside_wall_light_5"],"data":"{\"brightness_pct\":\"100\",\"hs_color\":[{{color}}]}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","output_location":"","output_location_type":"none","x":740,"y":720,"wires":[["4189de9299fc29f1"]]},{"id":"4189de9299fc29f1","type":"delay","z":"dd79c90c.bf0168","name":"Wait","pauseType":"delayv","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"750","randomLast":"2000","randomUnits":"milliseconds","drop":false,"allowrate":false,"outputs":1,"x":910,"y":720,"wires":[["83853fc373153457"]]},{"id":"1da63b218f0a16c4","type":"api-call-service","z":"dd79c90c.bf0168","name":"Light On White Off","server":"d30d779f.6e3948","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.outside_wall_light_5"],"data":"{\"white_value\":\"0\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","output_location":"","output_location_type":"none","x":330,"y":720,"wires":[["34db4b5981f203dd"]]},{"id":"a2c45d403fe844c6","type":"api-call-service","z":"dd79c90c.bf0168","name":"Color Random","server":"d30d779f.6e3948","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.outside_wall_light_4"],"data":"{\"brightness_pct\":\"100\",\"hs_color\":[{{color}}]}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","output_location":"","output_location_type":"none","x":560,"y":820,"wires":[["371b6e7b4f36386d"]]},{"id":"371b6e7b4f36386d","type":"delay","z":"dd79c90c.bf0168","name":"Wait","pauseType":"delayv","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"750","randomLast":"2000","randomUnits":"milliseconds","drop":false,"allowrate":false,"outputs":1,"x":730,"y":820,"wires":[["b909056a5a72c7c3"]]},{"id":"83853fc373153457","type":"api-call-service","z":"dd79c90c.bf0168","name":"Light On White Off","server":"d30d779f.6e3948","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.outside_wall_light_4"],"data":"{\"white_value\":\"0\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","output_location":"","output_location_type":"none","x":330,"y":820,"wires":[["a2c45d403fe844c6"]]},{"id":"ba537d2bd8121b85","type":"api-call-service","z":"dd79c90c.bf0168","name":"Color Random","server":"d30d779f.6e3948","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.lapa_front_1","light.outside_wall_light_3"],"data":"{\"brightness_pct\":\"100\",\"hs_color\":[{{color}}]}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","output_location":"","output_location_type":"none","x":560,"y":880,"wires":[["0c949d34eb26f9a9"]]},{"id":"0c949d34eb26f9a9","type":"delay","z":"dd79c90c.bf0168","name":"Wait","pauseType":"delayv","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"750","randomLast":"2000","randomUnits":"milliseconds","drop":false,"allowrate":false,"outputs":1,"x":730,"y":880,"wires":[["444918bbb99f355d"]]},{"id":"b909056a5a72c7c3","type":"api-call-service","z":"dd79c90c.bf0168","name":"Light On White Off","server":"d30d779f.6e3948","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.lapa_front_1","light.outside_wall_light_3"],"data":"{\"white_value\":\"0\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","output_location":"","output_location_type":"none","x":330,"y":880,"wires":[["ba537d2bd8121b85"]]},{"id":"4a5217151e464e24","type":"api-call-service","z":"dd79c90c.bf0168","name":"Color Random","server":"d30d779f.6e3948","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.outside_wall_light_2"],"data":"{\"brightness_pct\":\"100\",\"hs_color\":[{{color}}]}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","output_location":"","output_location_type":"none","x":560,"y":940,"wires":[["4d193f953d19fae3"]]},{"id":"4d193f953d19fae3","type":"delay","z":"dd79c90c.bf0168","name":"Wait","pauseType":"delayv","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"750","randomLast":"2000","randomUnits":"milliseconds","drop":false,"allowrate":false,"outputs":1,"x":730,"y":940,"wires":[["b5a94aa6193b882a"]]},{"id":"444918bbb99f355d","type":"api-call-service","z":"dd79c90c.bf0168","name":"Light On White Off","server":"d30d779f.6e3948","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.outside_wall_light_4"],"data":"{\"white_value\":\"0\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","output_location":"","output_location_type":"none","x":330,"y":940,"wires":[["4a5217151e464e24"]]},{"id":"0b717b5c39892ab3","type":"api-call-service","z":"dd79c90c.bf0168","name":"Color Random","server":"d30d779f.6e3948","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.outside_wall_light_1"],"data":"{\"brightness_pct\":\"100\",\"hs_color\":[{{color}}]}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","output_location":"","output_location_type":"none","x":560,"y":1000,"wires":[["91808f1142a2017c"]]},{"id":"b5a94aa6193b882a","type":"api-call-service","z":"dd79c90c.bf0168","name":"Light On White Off","server":"d30d779f.6e3948","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.outside_wall_light_1"],"data":"{\"white_value\":\"0\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","output_location":"","output_location_type":"none","x":330,"y":1000,"wires":[["0b717b5c39892ab3"]]},{"id":"91808f1142a2017c","type":"delay","z":"dd79c90c.bf0168","name":"Wait","pauseType":"delayv","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"750","randomLast":"2000","randomUnits":"milliseconds","drop":false,"allowrate":false,"outputs":1,"x":730,"y":1000,"wires":[["01dcbf9ce81ce100"]]},{"id":"785f620f1ba14f6a","type":"function","z":"dd79c90c.bf0168","name":"HSL","func":"var h = () => Math.random() * 256 >> 0;\nvar s = () => Math.random() * 101 >> 0;\nvar color = `${h()}, ${s()}`;\nmsg.color = color\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":510,"y":280,"wires":[["e9cf6bfc6ced3f8e"]]},{"id":"34db4b5981f203dd","type":"function","z":"dd79c90c.bf0168","name":"HSL","func":"var h = () => Math.random() * 256 >> 0;\nvar s = () => Math.random() * 101 >> 0;\nvar color = `${h()}, ${s()}`;\nmsg.color = color\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":550,"y":720,"wires":[["98cd4796f014160e"]]},{"id":"d30d779f.6e3948","type":"server","name":"Home Assistant","version":4,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":30,"areaSelector":"friendlyName","deviceSelector":"friendlyName","entitySelector":"friendlyName","statusSeparator":"at: ","statusYear":"hidden","statusMonth":"short","statusDay":"numeric","statusHourCycle":"h23","statusTimeFormat":"h:m"}]